@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

:root {
  --color-1: #e7eaf6;
  --color-2: #a2a8d3;
  --color-3: #38598b;
  --color-4: #272343;
  --color-5: #fb8a8a;
  --color-6: #0f0f0f;
  --color-7: #ee4b2b;

  /* Alpha variations */
  --color-3-a: #38598bc4;
  --color-5-a: #f99f9f88;

  /* Font sizes */
  --fs-1: 3.1rem;
  --fs-2: 1.6rem;
  --fs-3: 1.2rem;
  --fs-4: 1rem;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: space-between;
  background: var(--color-4);
}

.important {
  color: var(--color-6);
  background-color: var(--color-1);
  border-radius: 12px;
  width: max-content;
  height: max-content;
  text-align: center;
  padding: 10px 24px;
}

.user-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
}

.heading {
  text-align: center;
  text-transform: capitalize;
  margin: 1rem 0px;
  color: var(--color-2);
  font-size: var(--fs-1);
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 95vh;
  width: 100%;
  padding: 0px 1rem;
}

.footer {
  display: flex;
  flex-direction: column;
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding: 0.5rem;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  color: var(--color-1);
  background-color: var(--color-4-a);
}

a {
  text-underline-offset: 0.25em;
  text-decoration-style: dotted;
  text-transform: capitalize;
  color: var(--color-5);
}

a.href-btn {
  background: linear-gradient(180deg, rgb(9, 9, 29),rgba(27, 3, 3, 0.603));
  padding: 10px 24px;
  width: max-content;
  font-size: var(--fs-4);
  border-radius: 12px;
}

/* Result container */
.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  align-items: center;
}

.container.result {
  justify-content: space-around;
}

.container.form {
  position: relative;
  justify-content: center;
}

/* Image holder */
.item-image-holder img {
  border-radius: 8px;
}

.form form {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}

.form .form-error {
  position: absolute;
  bottom: 0px;
  margin-bottom: 2rem;
  color: var(--color-1);
  font-weight: bold;
  font-size: var(--fs-3);
  text-align: center;
  border-radius: 8px;
  width: 100%;
  height: max-content;
  padding: 10px 24px;
  background-color: var(--color-3);
}

input[type="text"], 
input[type="password"],
input[type="email"] {
  font-size: var(--fs-3);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--color-1);
  color: var(--color-6);
  width: 100%;
  border-radius: 10px;
  padding: 0.5rem 1rem;
}

input[type="submit"],
button {
  background-color: var(--color-5);
  border: none;
  color: var(--color-6);
  border-radius: 12px;
  font-size: var(--fs-3);
  font-weight: bold;
  text-transform: capitalize;
  width: fit-content;
  padding: 8px 48px;
}

button.logout-btn {
  background-color: var(--color-7);
  color: vaR(--color-1);
}

input:is(:hover, :focus) {
  outline-color: var(--color-3);
}

/* Table styling */
table {
  width: 100%;
  border-collapse: collapse;
  background-color: #272343;
  color: #fff;
  filter: drop-shadow(1px 1px 3px var(--color-2));
  border-radius: 8px;
}

table .field-name,
table .table-heading {
  text-transform: capitalize;
  font-weight: bold;
}

th {
  background-color: #1e1f38;
  color: #fff;
  text-align: left;
  padding: 10px;
  border: 1px solid #555;
}

td {
  padding: 10px;
  border: 1px solid #555;
}

tbody tr:nth-child(odd) {
  background-color: #2b2d52;
}

tbody tr:nth-child(even) {
  background-color: #272648;
}

table {
  color: #fff;
}

tr:hover {
  background-color: #303262;
}
