{% extends "layout/default.html" %}

{% block title %}
    Home
{% endblock title %}

{% block header %}
{% endblock header %}

{% block content %}
    <div class="container form">
        <h1 class="heading">Enter Item</h1>
        <form method="POST">
            {{ form.hidden_tag() }}
            {{ form.item_url(placeholder="Item URL") }}
    
            {{ form.submit() }}
        </form>

    </div>
    
{% endblock content %}

{% block extraFooterContent %}
    <button class="logout-btn" onclick="logout()">Logout</button>
{% endblock extraFooterContent %}