{% extends "layout/default.html" %} 

{% block title %}
Login
{% endblock title %}

{% block content %}

<div class="container form">
  <h1 class="heading">Login</h1>
  <form method="POST">
    {{ form.hidden_tag() }} 
    {{ form.usermail(placeholder="Your Email") }}
    {{ form.password(placeholder="Password") }} 
    {{ form.submit() }}
  </form>

  {% if error %}
    <div class="form-error">{{error}}</div>
  {% endif %}

</div>

{% endblock content %}

{% block extraFooterContent %}
<a class="href-btn" href="/register">Register instead</a>
{% endblock extraFooterContent %}
